<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TextTune</title>
    <link rel="shortcut icon" href="/static/images/icon.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <header>
        <a href="#" style="float:left; margin-left:90px; margin-top:10px; margin-right:50px;">
            <img src="/static/images/icon.png" style="width:40px; height:40px;">
        </a>
        <a style="float:left; margin-left:-37px; margin-top:5px; font-size: 35px; display: flex; align-items: center;">TextTune</a>
        
        <!-- Меню -->
        <nav>
            <ul class="nav-links">
                <li><a href="{{ url_for('index') }}">Главная</a></li>
                <li><a href="{{ url_for('text_to_audio_page') }}">Текст в аудио</a></li>
                <li><a href="{{ url_for('audio_to_text_page') }}">Аудио в текст</a></li>
            </ul>
        </nav>

        <!-- Кнопка гамбургера -->
        <button class="menu-toggle" onclick="toggleMenu()">&#9776;</button>
    </header>

    <!-- Основной контент -->
    <div class="containermain">
        <h1>TextTune</h1>
        <h2>Студенческий проект кафедры ММИИ РУДН</h2>
        <p>
            Добро пожаловать в <strong>TextTune</strong> — бета-версию студенческого проекта, разработанного в 2024 году на кафедре Математического моделирования и искусственного интеллекта(ММИИ) Российского университета дружбы народов (РУДН).
        </p>
        <p>
            Основная цель проекта — создание удобного инструмента для конвертации аудио в текст и текста в аудио. С его помощью вы сможете:
        </p>
        <ul>
            <li><strong>Преобразовать текст в аудио</strong> с помощью технологии синтеза речи;</li>
            <li><strong>Расшифровать аудио в текст</strong> с использованием современных алгоритмов распознавания.</li>
        </ul>
        <p>
            Проект находится на стадии тестирования и совершенствования. Мы стремимся к тому, чтобы сделать его максимально удобным и эффективным.
        </p>
        <p>
            Также мы создали <strong>Telegram-бота</strong>, которого вы можете протестировать. 
            Бот позволяет быстро преобразовать текст в аудио и наоборот, прямо в вашем мессенджере.
        </p>
        <br>
        <div class="button-group">
            <a class="action-button" href="/text_to_audio">Конвертировать текст в аудио</a>
            <a class="action-button" href="/audio_to_text">Конвертировать аудио в текст</a>
        </div>
        <div class="button-bot">
            <a class="action-button" href="https://t.me/YourBotUsername" target="_blank">Перейти к Telegram-боту</a>
        </div>

        <br>
        <p>
            Над проектом работали: <strong>Ганина Таисия, Астраханцева Анастасия, Ибатулина Дарья</strong> 
            <br>
            &copy; Все права защищены
        </p>

    </div>

     <!-- Скрипт для переключения меню -->
    <script>
        function toggleMenu() {
            var menu = document.querySelector('.nav-links');
            menu.classList.toggle('active'); // Переключаем класс 'active' для отображения/скрытия меню
        }
    </script>
</body>
</html>

